<h2 class="featurette-heading" style="margin-top: 0px;">Dog Obedience Training</h2>

<p><strong><a href="~/course-puppy/">Puppy Socialisation classes</a></strong> - Gaynor Probert will teach you the most important aspects of your dog's education and how to help him develop into the well behaved and balanced pet you have always wanted. Clicker training is one of the ways she achieves this, it is good fun and all the family can join in.</p>

<p><strong><a href="~/course-junior/">Junior Course</a></strong> - The junior course is especially developed for young puppies between the ages of 5 to 9 months and is suitable for all breeds of dogs it is a natural progression from puppy classes.</p>

<p><strong><a href="~/course-bronze/">Bronze Obedience Course</a></strong> - How to teach your dog to walk on a slack lead without pulling and to come back when called are the two priorities in this course. We also teach you how to prevent your dog barging through the door first when you are going out.</p>

<p><strong><a href="~/course-silver/">Silver Obedience Course</a></strong> - In this course you learn how to train your dog to go at your pace and to come back to you when there are distractions around. You will also be taught how to get your dog to stay when told. It is in this course that we start the agility training, an activity that the dogs love.</p>

<p><strong><a href="~/course-gold/">Gold Obedience Course</a></strong> - In this course you will learn how to get your dog to walk by your side off lead and come back to your side when you are walking. We add another interest, how to get your dog to find his toy when it is amongst others, The agility training continues, which your dog will love.</p>

<p><strong><a href="~/course-platinum/">Platinum Obedience Course</a></strong> - Some of the techniques taught on this course are - changing pace while weaving through people and their dogs, staying while you go out of sight and distance control and emergency down. The agility training is now done off lead as you now have full control of your dog.</p>

<p><strong><a href="~/course-platinum/">One to One</a></strong> - A one to one with Gaynor Probert offers you a unique opportunity to expand your understanding of your dog and to address any obedience that you may be having problems with.</p>
