<div class="alert alert-info">
    <h4>Vet Referrals</h4>
    <p><strong>Did you know:</strong> You can use your pet insurance to pay for a consultation if you're referred by your Vet!</p>
    <p><a class="btn btn-success" href="https://docs.google.com/document/d/14I23az8648X7fyX21UFmQcIxXSnebrbGy0sqE48ZVbs/edit?usp=sharing" target="_blank">Find out more</a></p>
</div>