<div class="page-header">
    <h1>Solid Foundation Training</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8">
		<img class="img-responsive img-thumbnail" src="~/images/courses/bronze/bronze-v1.png" style="float: right; margin-left: 10px;" />
		
		<%= Scms.renderView("_pages/course-bronze/includes/you-will-learn.html") %>

		<!--<img class="img" src="~/images/courses/bronze/walking-the-dog-v1.png" style="float: right; padding-left: 10px;" />-->
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4">
		<div class="callout callout-info" style="margin: 0;"><%= Scms.renderView("_pages/course-bronze/includes/testi.html") %></div>
	</div>
</div>

<hr />
	<p>Successful partisipants of this course are invited to graduate to our:</p>
<div>
	<a href="~/course-silver/" class="btn btn-primary">Next: Silver Course</a>
</div>