
<h2>Gaynor is</h2>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A practitioner with the <a href="http://www.cfba.co.uk/" target="_blank">Canine and Feline Behaviour Association</a></h3>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://www.cfba.co.uk/" target="_blank"><img class="img-responsive" src="~/images/about/CFBA-v1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>These Middlesex University accredited dog behaviour and training accreditations represent the highest leves of specific canine behavior qualifications available in Britain today.</p>
					<p>They are one of the few associations that are recognised by dog insurance companys for canine behavioural problems.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://www.cfba.co.uk/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A full Member of the&nbsp;<a href="http://bipdt.org.uk/" target="_blank">British Institute of Professional Dog Trainers</a></h3>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://bipdt.org.uk/" target="_blank"><img class="img-responsive" src="~/images/about/BIPDT-V1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>Founded in 1974 to improve the standards of care and understanding, conditions and training of working and pet dogs, it is the longest established governing body in this field of work.These certificates are not award lightly. MBIPDT is the highest award of the institute and qualifies members to teach at the highest level.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://bipdt.org.uk/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A Master Trainer with the&nbsp;<a href="http://www.godt.org.uk/" target="_blank">Guild of Dog Trainers</a></h3>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://www.godt.org.uk/" target="_blank"><img class="img-responsive" src="~/images/about/guild-of-dog-trainers-v1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>The Guild of dog trainers is an independant professional body whose values include being commited to maintainin and improving the quality of dog training, behaviour and companion dog ownership in Britain. Master trainer is the highest level of certification and qualifies recipients to teach at the highest level.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://www.godt.org.uk/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A member of the&nbsp;<a href="http://www.ntipdu.org/" target="_blank">National Training Inspectorate for Professional Dog Users</a></h3>
		
		<p></p>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://www.ntipdu.org/" target="_blank"><img class="img-responsive" src="~/images/about/NTIPDU-v1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>The NTIPDU was formed to promote professionalism, set and maintain standards and to assist all governing bodies within the security industry, it has progressed through the years and with the input of goverment departments is now a leader in the development of canine related courses.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://www.ntipdu.org/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
</div>
