<h1>Abour Gaynor</h1>
<img class="img-responsive img-thumbnail pull-right" src="~/images/about/gaynor-probert-awards-v1.png" style="margin: 00 20px 10px;" />
<p>There has never been a time when there was not a dog in Gaynors life, being with dogs and understanding them has always felt very natural to her.</p>
<p>When she met her partner Charles in 1994, their mutual love of dogs led them to co found A1K9 Behaviour and Training Academy that is based just outside Swansea in South Wales; there they trained dogs to the highest standards establishing an international reputation for excellence that led them to provide trained dogs for clients worldwide.</p>
<p>In 2004 Gaynor entered the British Police and Services Canine Association dog trials, this trial has three elements obedience, agility and Protection work to the highest standards, at the time there were no other women in this type of work in the private sector and she was competing against the Army, RAF, Northern Ireland and British Prison Service and different divisions of the Police service. It caused quite a stir when she won the associates cup, the first woman to win this very prestigious award.</p>
<p>During her time dog training she has amassed a wealth of knowledge about dog behaviour and skills introducing large groups of dogs together, which was put to good use when she developed very successful puppy and dog training classes. Her reputation spread as she became known for working with dogs with behavioural problems often integrating them into group training to help rehabilitate them into a better balanced dog.</p>
<p>It is her reputation in this work that has attracted clients to travel long distances, from Scotland at one end of the country to Poole in Dorset at the other. Clients would usually stay in the area for a few days and block book time with Gaynor to work through the behaviour modification programme that she has developed for them. Afterward they stay in touch via email and telephone to enable her to monitor their progress.</p>
<p>Gaynor works with all sorts of problems with all sorts of dogs but she specialises in dog on dog aggression and dog on people aggression, which is very highly skilled canine behaviour rehabilitation training. She has attended seminars with the Canine and Feline Behaviour Association and Middlesex University to expand and develop her knowledge of this highly specialised area of canine behaviour modification.</p>

<div class="alert alert-info">
	<img class="img-responsive img-thumbnail pull-right" src="~/images/about/gaynor-probert-canine-and-feline-practitioner-of-the-year-2014-v1.png" style="margin: 00 20px 10px;" />
	<h3>Canine &amp; Feline Practitioner of the Year: 2014</h3>
	
	<h4>This year I won :)</h4>


	<p>2014 has been a landmark year for me. </p>

	<p> I did my first television and radio interviews where they asked my opinion on why tragic dog related accidents occur. We spoke about the dangerous dog act and how making owners responsible for what their dog does  could make them  rethink how they bring up their dog  and how educating people, to understand, train and condition their dogs to live in a family is key to getting better behaved well balanced dogs.</p>
	<p>In the radio interview, they wanted to know how I had started in my profession and how my career had progressed.   I was asked for my opinion on why a tragic dog related death of a baby in the local village of Pontyberam had occurred and how we can prevent   these horrific incidents. We spoke about when the relationship between dog and owner goes wrong and how getting help from a professional behaviourist can prevent these serious problems from occurring and give owners a better understanding of their dogs.</p>
	<p> I had some amazingly successful behavioural cases with clients traveling long distances for consultations and Behaviour rehabilitation programmes.
	With all this going on I thought it was a good time to enter the CFBA practitioner of the year, it would be a dream come true.</p>
	<p>I was invited to the dog's unleashed seminar as a nominee and when the time came and they called me out as the winner, I was over the moon. My dream had come true, CFBA practitioner of the year 2014 awarded for outstanding contribution to the dog training and behaviour profession. </p>
	<p>I cannot thank them enough, an accolade like this  is like a special seal of approval that clients will see and know that they are in capable hands, that will help them through the difficulty's they are having with their canine companion. </p>

	<div style="margin-top: 10px;">
		<a href="~/docs/Gaynor-Probert_CFBA_behaviourist_of_the_year_2014.pdf" class="btn btn-danger btn-lg" target="_blank">
			<span class="glyphicon glyphicon-file"></span> Read case study
		</a>
	</div>

</div>

<%= Scms.renderView("_includes/qualifications.erb", page) %>

<div>
    <a href="~/about-sara-thomas/" class="btn btn-success">Next: About Sara Thomas</a>
</div>