<div class="bs-docs-section">
  <div class="page-header">
    <h3>Gaynor Probert offers a range of courses every weekend at A1K9 Behaviour and Training Academy</h3>
    <p>She holds couses to suit all levels of ability.
       Gaynor has the specialist knowledge and techniques to help you to overcome any problems you may be have when you train your dog.</p>

  </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <h3><a href="~/course-puppy/">Puppy Socialisation</a></h3>
            <div class="thumbnail">
                <div class="thumbnail-img-content">
                    <a href="~/course-puppy/"><img src="~/images/courses/puppy-v2.png" class="img-responsive" /></a>
                </div>
                <div class="thumbnail-content">
                    <div>
                      <p>Good socialisation is the best way to ensure a friendly, well-adjusted puppy.</p> 
                      <p>Clicker training is one of the ways we teach puppies, its fun and all the family can join in..</p>
                    </div>
                    <div>
                        <a href="~/course-puppy/" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <h3><a href="~/course-bronze/">Bronze Obedience</a></h3>
            <div class="thumbnail">
                <div class="thumbnail-img-content">
                   <a href="~/course-bronze/"><img src="~/images/courses/bronze-v1.png" class="img-responsive" /></a>
                </div>
                <div class="thumbnail-content">
                    <div>
                        <p>The two main objectives of this course is to teach you the owner, how to train your dog to walk on a lead without pulling and to get your dog to come back to you when they are called.</p>
                    </div>
                    <div>
                        <a href="~/course-bronze/" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <h3><a href="~/course-silver/">Silver Obedience</a></h3>
            <div class="thumbnail">
                <div class="thumbnail-img-content">
                    <a href="~/course-silver/"><img src="~/images/courses/silver-v1.1.png" class="img-responsive" /></a>
                </div>
                <div class="thumbnail-content">
                    <div>
                       This course teaches you the next stage of dog training, cementing what you have learned and teaching you hands free training.
                    </div>
                    <div>
                        <a href="~/course-silver/" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <h3><a href="~/course-gold/">Gold Obedience</a></h3>
            <div class="thumbnail">
                <div class="thumbnail-img-content">
                    <a href="~/course-gold/"><img src="~/images/courses/gold-v1.png" class="img-responsive" /></a>
                </div>
                <div class="thumbnail-content">
                    <div>
                        The Gold obedience course is for the enthusiastic dog owner to teach their dog off lead obedience and to respond to their commands when there are distractions around.
                    </div>
                    <div>
                        <a href="~/course-gold/" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <h3><a href="~/course-platinum/">Platinum Obedience</a></h3>
            <div class="thumbnail">
                <div class="thumbnail-img-content">
                    <a href="~/course-platinum/"><img src="~/images/courses/platinum-v1.png" class="img-responsive" /></a>
                </div>
                <div class="thumbnail-content">
                    <div>
                        This obedience course is for the real enthusiast, taking your skills to the highest level, with distance control and off lead obedience and agility.
                    </div>
                    <div>
                        <a href="~/course-platinum/" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <h3><a href="~/one-to-one/">One to One</a></h3>
            <div class="thumbnail">
                <div class="thumbnail-img-content">
                    <a href="~/one-to-one/"><img src="~/images/courses/one2one-v2.png" class="img-responsive" /></a>
                </div>
                <div class="thumbnail-content">
                    <div>
                        This is a bespoke training session with the experienced and qualified dog trainer and behaviourist, Gaynor Probert who is the CFBA Practitioner of the year 2014. She will work on the aspects of dog training that you are finding difficult to resolve your problems.
                    </div>
                    <div>
                        <a href="~/one-to-one/" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <%= Scms.renderView("_pages/courses/includes/faqs.xml") %>
    </div>

</div>

