<div class="row">
	<div class="col-md-12 page-header">
		<h2>Develop Your Training Techniques</h2>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-9">
		<img class="img-responsive img-thumbnail pull-right" src="~/images/courses/silver/walking-the-dog-v1.png" style="margin-left: 10px;" />

		<%= Scms.renderView("_pages/course-silver/includes/you-will-learn.html") %>

		<hr />

		<h3>Agility</h3>
		<img class="img-responsive img-thumbnail pull-left" src="~/images/courses/silver/agility-v2.1.png" style="margin-right: 10px;" />
		
		<%= Scms.renderView("_pages/course-silver/includes/agility.html") %>		
	</div>
	<div class="col-xs-12 col-sm-12 col-md-3">
		<div class="border" style="margin: 0;"><%= Scms.renderView("_pages/course-silver/includes/testi.html") %></div>
	</div>

</div>

<div class="row">
	<hr />
	<p>Successful participants of this course are invited to graduate to our:</p>
	<div>
		<a href="~/course-gold/" class="btn btn-success">Gold Obedience Course</a>
	</div>
</div>

