<p>Over a period of weeks Gaynor will help and advise you with different aspects of responsible dog ownership:</p>

<ul>
	<li>How to teach your puppy to inhibit the force of his play bites is the most important priority, for your puppy to develop a soft mouth and preventing what can be potentially serious problems in the future.</li>
	<li>Getting your dog acclimatised to walking on a lead in a controlled manner, to make walking with your dog a joy.</li>
	<li>How to handle and examine your young puppy is easy and essential; your groomer and veterinarian will be very grateful.</li>
	<li>Teach your puppy how to enjoy giving up valued items when requested.</li>
	<li>We establish the correct manner for your puppy to greet people, as early as possible.</li>
	<li>How to condition your puppy, to accept you and others, picking up his food bowl, to help, prevent food aggression developing in the future.</li>
</ul>

<p><strong>Only you can condition your puppy</strong> to living in your home and to accept and fit in to your lifestyle; but, having the help and guidance of Gaynor Probert at A1K9 Behaviour and Training Academy can have a profound effect that will enrich your relationship with your dog for many years to come.</p>