<h3>Mandy and Henry</h3>

<p>When our Labrador puppy Henry was 12 weeks old we decided to take him to puppy socialising classes at A1K9</p>

<img src="~/images/courses/puppy/mandy-and-henry-v1.png" class="img-thumbnail img-responsive" style="margin-bottom: 10px;" />

<p>What a lovely way to spend a Sunday afternoon, there was a lovely family atmosphere, Henry loved running around with the other puppies and meeting new people. I learnt a lot thanks to the help and advice from Gaynor and Sara.</p>

<p>After 6 weeks of puppy classes Henry was ready for bronze level obedience training where Gaynor and the team taught Henry and I skills including heel work, recall and sit on command. Henry is a very excitable pup and proved quite difficult to control, this was addressed by Gaynor along with other issues we've encountered on our journey.  By the end of bronze Henry would sit on command, stopped jumping up and he pulled a lot less, but we were a work in progress and progress we did, to silver level obedience which included lie down, stay and retrieve and how to control your dog when approaching other dogs and people.</p>

<p>Henry and myself then progressed to gold which is where we are now, we've started to learn agility skills which Henry enjoys immensely, especially the A frame. Henry is now a year old and his behaviour improves weekly, my 7 year old can give him commands and take him for a walk and he can keep Henry under control and it's all thanks to Gaynor and the team at A1K9. </p>
