<div class="row">
	<div class="col-md-12 page-header">
		<h2>A Mans Best Friend</h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-7">
		<%= Scms.renderView("_pages/behavioural-consultations/includes/left-col.html") %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-5">
		<%= Scms.renderView("_pages/behavioural-consultations/includes/right-col.html") %>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div>
			<%= Scms.renderView("_pages/behavioural-consultations/includes/testi.html") %>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<a class="btn btn-warning btn-lg" href="~/find-us/">Make Appointment</a>
	</div>
</div>


<!-- ali-the-rotti-v1.png -->