<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gaynor Probert</a>
        </div>
        <div class="navbar-collapse collapse">
          <%= Scms.renderView("_layouts/includes/nav.erb", page) %>
        </div>
      </div>
    </div>

  </div>
</div>