<div class="page-header">
    <h1>Training to the Highest Standards</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-9">
		<img class="img-responsive img-thumbnail pull-right" src="~/images/courses/platinum/sit-v1.png" style="margin: 0 0 10px 10px;" />
		<%= Scms.renderView("_pages/course-platinum/includes/you-will-learn.html") %>
		<hr />
		<%= Scms.renderView("_pages/course-platinum/includes/agility.html") %>		
	</div>
	<div class="col-xs-12 col-sm-12 col-md-3">
		<div class="callout callout-info" style="margin: 0;"><%= Scms.renderView("_pages/course-platinum/includes/testi.html") %></div>
	</div>
</div>

<div class="row">
	<hr />
	<p>Next: </p>
	<div>
	<a href="~/one-to-one/" class="btn btn-primary">Next: One to One Obedience Training</a>
	</div>
</div>

