<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <%= Scms.renderView("_pages/index/_includes/behavioural-consultations.html", page) %>
    <div style="margin-bottom: 10px;"><a href="~/behavioural-consultations/index.html" class="btn btn-primary btn-lg">Find out more <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="~/images/index/gaynor-probert-award-v1.png" alt="A1K9 dog training academy">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="~/images/index/peek-a-boo-dog-1.png" alt="A1K9 Dog Training calss">
  </div>
  <div class="col-md-7">
    <%= Scms.renderView("_pages/index/_includes/dog-obedience-training.html", page) %>
  </div>
</div>

<!--       
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">

    <h2 class="featurette-heading">At A1K9 <span class="text-muted">dog training academy.</span></h2>
    <p class="lead">we have the specialist knowledge and techniques to help you to avoid these problems, by helping you to train your dog.
    Each weekend we hold group dog training classes at our first class facilities just outside Swansea.
    </p>

  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="~/images/index/peek-a-boo-dog.png" alt="Generic placeholder image">
  </div>
</div> -->

<hr class="featurette-divider">
<%= Scms.renderView("_includes/qualifications.erb", page) %>
<hr class="featurette-divider">

<%= Scms.renderView("_pages/index/social.erb", page) %>
