<div class="row">
  <div class="col-lg-4" style="text-align: center;">
    <a href="https://www.facebook.com/A1K9PDT?fref=ts"  target="fb"><img class="img-circle" src="~/images/index/facebook-v1.png" alt="Find us on Facebook"></a>
    <h2><a href="https://www.facebook.com/A1K9PDT?fref=ts"  target="fb">Facebook</a></h2>
    <p>Follow me on facebook for our most recent photos, stories, interesting links, etc.</p>
    <p><a class="btn btn-default" href="https://www.facebook.com/A1K9PDT?fref=ts" role="button" target="fb">Open page &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4"  style="text-align: center;">
    <a href="~/find-us/"><img class="img-circle" src="~/images/index/find-us-v1.png" alt="How to find A1K9"></a>
    <h2><a href="~/find-us/">Find Us</a></h2>
    <p>Directions on how to find us.</p>
    <p><a class="btn btn-default" href="~/find-us/" role="button">Find Us &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4"  style="text-align: center;">
    <a href="~/find-us/"><img class="img-circle" src="~/images/index/contact-v1.png" alt="Contact Us"></a>
    <h2><a href="~/find-us/">Contact</a></h2>
    <p>If you would like more information about anything that you have read, I would love to hear from you!</p>
    <p><a class="btn btn-default sendmail" href="~/find-us/" role="button">Contact me &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->